<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer>
        <div class="footer-section">
       
            <hr>
            <div class="contact-info">
               <h3>     Contact US</h3>
             <a href="#">Telephone Number</a>
             <a href="#">Whatsapp Contact</a>
             <a href="#">usalama@gmail.com</a>
            </div>
              <hr>
            <div class="quick-links">
           
            <hr>
            <div class="last-div">
              <h3>Connect with Us.</h3>
              
            </div> 
          </div>
        </footer>
</body>
</html>