a{
    color: #004b23 !important;
    font-weight: bolder;
}
a:hover{
 text-decoration:underline;,
}
.rounded-pill{
background-color:#428F66;
border: none;

}

.rounded-pill a{
    color: white !important;
    padding: 20px;
    border: none;
    text-decoration: none;
    
}