*{
    box-sizing: border-box;
}
body{
    background-color: #9cb0a4!important;
   
   
}
.wrapper{
    width: 60%;
    margin: 20px auto;
    
}
.form-select{
    margin: 40px 0;
}
select{
    height: 80px;
    padding: 10px;
}
#contacts{
    border: solid 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;

}

#Telephone #email{
   
    border: solid 2px;
    
}